div {
  box-sizing: border-box;
}
.bxg-clear:after {
  clear: both;
  content: '';
  display: block;
}
.bxg-head {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 45px;
  background: #c41e34;
}
.bxg-back,
.bxg-search,
.bxg-logo,
.bxg-position {
  position: absolute;
  top: 0;
  z-index: 4;
  width: 50px;
  height: 45px;
}
.icon-back {
  display: block;
  margin: 11.7px auto;
  width: 12.4px;
  height: 21.6px;
  background-size: 200px 118.8px;
  background-position: 0 0;
}
.bxg-search,
.bxg-position {
  right: 0;
}
.icon-search {
  display: block;
  margin: 10.8px auto;
  width: 31px;
  height: 23.4px;
  background-size: 450px 267.3px;
  background-position: -112.5px -12.6px;
}
.bxg-head .bxg-title {
  position: relative;
  margin: 0 50px;
  padding: 10px 0;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
}
.bxg-head .bxg-title .bxg-input {
  display: block;
  margin: 0 auto;
  width: 95%;
  height: 25px;
  color: #fff;
  text-indent: 8px;
  border: none;
  border-radius: 5px;
  background: #ad0707;
}
.bxg-index-head .bxg-logo,
.bxg-index-head .bxg-position {
  width: 80px;
  height: 45px;
}
.bxg-index-head .bxg-title {
  margin: 0 80px;
}
.bxg-index-head .bxg-title .bxg-input {
  width: 100%;
  border-radius: 12.5px;
  background: #fff;
}
.bxg-index-head .bxg-logo img {
  display: block;
  margin: 10.75px auto;
  width: 67.25px;
  height: 23.5px;
}
.icon-position {
  display: inline-block;
  height: 20px;
  width: 20px;
}
